*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
body{
    background-image: linear-gradient(to right, rgb(249, 0, 186) , rgb(255, 0, 47));
    padding: 5em;
}
.page-content{
    background-color: rgb(221, 221, 221);
    width: 30%;
    margin: auto;
    border-radius: 10px;
    border: 10px solid rgb(174, 174, 174);
    padding: 1em;
    max-height: 625px;
    
    
}
.addtaskbtn{
    padding: 0.4em;
    font-size: 1.2em;
    width: 35%;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(197, 197, 197);
    transition: 0.5s;
    
}
.addtaskbtn:hover{
    background-color: rgb(137, 137, 137);
}
.add-items{
    display: flex;
    flex-direction: column;
    transform: translateY(-100%);
    transition: .3s;
}
#addnewtask{
    overflow: hidden;
}
.card-title{
    font-size: 2em;
    padding: 0.5em;
}
.inputtext{
    margin: 0.5em;
    padding: 0.5em;
    width: 95%;
    border-radius: 10px;
    border: 0px;
}
.addbutton{
    padding: 0.5em;
    font-size: 1.2em;
    width: 15%;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(197, 197, 197);
    transition: 0.5s;

}
.addbutton:hover{
        background-color: rgb(155, 155, 155);        
        cursor: pointer;
}
.list-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    /* border: 1px solid black; */
    padding: 1em 0.5em;
}
.tasks{
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow: auto;
    /* border: 1px solid black; */
    transform: translateY(-100%);
    animation: .4s;
}
ul{
    list-style: none;
    font-size: 0.8em;
}
.taskbtn{
    display: flex;
    justify-content: space-around;
    width: 30%;
    /* border: 1px solid black; */
}
.edit{
    padding: 0.5em;
    width: 150px;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(92, 92, 92);
    transition: 0.5s;
    color: white;
}
.edit:hover{
    background-color: rgb(155, 155, 155);  
}
.delete{
    padding: 0.8em;
    width: 80px;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(92, 92, 92);
    transition: 0.5s;
    color: white;
}
.delete:hover{
    background-color: rgb(155, 155, 155);  
}
p{
    font-size: 0.5em;
}
span{
    font-size: 0.8em;
    color: rgb(66, 66, 66);
}
#clearall{
    padding: 0.8em;
    width: 120px;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(92, 92, 92);
    transition: 0.5s;
    color: white;
}
#clearall:hover{
    background-color: rgb(53, 53, 53);
}
@media only screen and (max-width: 768px) {
    .delete{
        padding: 0.8em;
        width: 60px;
        font-size: 12px;
    }
    .edit{
        padding: 0.8em;
        width: 60px;
        font-size: 12px;
    }
    ul{
        font-size: 12px;
    }
    
}
@media only screen and (max-width: 425px) {
    .card-title{
        font-size: 1em;
        padding: 0.5em;
    }
    .addbutton{
        padding: 0.4em;
        width: 60px;
        border-radius: 10px;

    }
    body{
        background-color: rgb(87, 87, 87);
        padding: 1em;
    }
    .page-content{
        padding: 0.2em;
        
        
    }
    .inputtext{
        padding: 0.2em;
        font-size: 11px;
        width: 70%;
    }
    .delete{
        padding: 0.8em;
        width: 40px;
        font-size: 10px;
    }
    .edit{
        padding: 0.8em;
        width: 40px;
        font-size: 10px;
    }
    ul{
        font-size: 12px;
    }
    
}
<<<<<<< HEAD
@media only screen and (max-width: 375px) {
    .page-content{
        width: 80%;
    
    }
    .addtaskbtn{
        padding: 0.4em;
        font-size: 1em;
        width: 150px;
    }
    .add-items h3{
        font-size: 0.8em;
    }
    .inputtext{
        width: 90%;
        margin: 0.5em;
        padding: 0.5em;
        
    }
    .addbutton{
        padding: 0.2em;
        font-size: 1em;
        width: 40%;
        
    
    }
    .edit{
        padding: 0.2em;
        width: 270px;
        font-size: 0.5em;
       
    }
    .list-wrapper{
        width: 90%;
        /* border: 1px solid black; */
        
    }
    
    
}

=======
>>>>>>> 7735bc388ca425d1d5da8e15de5260edf2a76039
@media only screen and (max-width: 320px) {
    .page-content{
        width: 80%;
    
    }
    .addtaskbtn{
        padding: 0.4em;
        font-size: 1em;
        width: 150px;
    }
    .add-items h3{
        font-size: 0.8em;
    }
    .inputtext{
        width: 90%;
        margin: 0.5em;
        padding: 0.5em;
        
    }
    .addbutton{
        padding: 0.2em;
        font-size: 1em;
        width: 40%;
        
    
    }
    .edit{
        padding: 0.2em;
        width: 270px;
        font-size: 0.5em;
       
    }
    .list-wrapper{
        width: 90%;
        /* border: 1px solid black; */
        
    }
    
    
}
<<<<<<< HEAD
@media only screen and (max-width: 425px) {
    .page-content{
        width: 80%;
    
    }
    .addtaskbtn{
        padding: 0.4em;
        font-size: 1em;
        width: 150px;
    }
    .add-items h3{
        font-size: 0.8em;
    }
    .inputtext{
        width: 90%;
        margin: 0.5em;
        padding: 0.5em;
        
    }
    .addbutton{
        padding: 0.2em;
        font-size: 1em;
        width: 40%;
        
    
    }
    .edit{
        padding: 0.2em;
        width: 270px;
        font-size: 0.5em;
       
    }
    .list-wrapper{
        width: 90%;
        /* border: 1px solid black; */
        
    }
    
    
}
@media only screen and (max-width: 768px) {
    .page-content{
        width: 80%;
    
    }
    .addtaskbtn{
        padding: 0.4em;
        font-size: 1em;
        width: 150px;
    }
    .add-items h3{
        font-size: 0.8em;
    }
    .inputtext{
        width: 90%;
        margin: 0.5em;
        padding: 0.5em;
        
    }
    .addbutton{
        padding: 0.2em;
        font-size: 1em;
        width: 40%;
        
    
    }
    .edit{
        padding: 0.2em;
        width: 270px;
        font-size: 0.5em;
       
    }
    .list-wrapper{
        width: 90%;
        /* border: 1px solid black; */
        
    }
    
    
}


=======
>>>>>>> 7735bc388ca425d1d5da8e15de5260edf2a76039
